openapi: 3.2.0
info:
  title: Snap Store Devices Categories API
  description: The Snap Store Devices API provides access to the Canonical Snap Store for querying, discovering, and managing snap packages. Supports snap search, info retrieval, refresh operations, category listings, and metrics for IoT and desktop deployments.
  version: '104'
  contact:
    name: Snapcraft Community
    url: https://forum.snapcraft.io
servers:
- url: https://api.snapcraft.io
  description: Snap Store Production API
tags:
- name: Categories
  description: Snap category listings
paths:
  /v2/snaps/categories:
    get:
      operationId: listSnapCategories
      summary: List Snap Categories
      description: Returns all available snap categories in the store.
      tags:
      - Categories
      parameters:
      - name: Snap-Device-Series
        in: header
        required: true
        schema:
          type: string
          default: '16'
        description: Snap device series identifier.
      responses:
        '200':
          description: List of snap categories.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
components:
  schemas:
    Category:
      type: object
      properties:
        name:
          type: string
          description: Category identifier.
        title:
          type: string
          description: Display name of the category.
