openapi: 3.2.0
info:
  title: Launchpad REST Projects API
  description: The Launchpad web service API provides REST-based access to Launchpad's resources including people, projects, bugs, branches, and packages. The canonical source for the full API is the WADL document at api.launchpad.net.
  version: '1.0'
  contact:
    name: Launchpad Community
    url: https://help.launchpad.net/API
servers:
- url: https://api.launchpad.net/1.0
  description: Launchpad Production API
- url: https://api.staging.launchpad.net/1.0
  description: Launchpad Staging API
security:
- OAuth1: []
tags:
- name: Projects
  description: Open-source project resources
paths:
  /projects:
    get:
      operationId: listProjects
      summary: List Projects
      description: Returns a collection of projects registered in Launchpad.
      tags:
      - Projects
      parameters:
      - name: ws.op
        in: query
        required: false
        schema:
          type: string
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Project search query.
      - name: ws.start
        in: query
        required: false
        schema:
          type: integer
      - name: ws.size
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Collection of projects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCollection'
  /{project_name}:
    get:
      operationId: getProject
      summary: Get Project
      description: Returns details for a specific Launchpad project.
      tags:
      - Projects
      parameters:
      - name: project_name
        in: path
        required: true
        schema:
          type: string
        description: Launchpad project name.
      responses:
        '200':
          description: Project details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          description: Project not found.
components:
  schemas:
    Project:
      type: object
      properties:
        name:
          type: string
          description: Project name identifier.
        display_name:
          type: string
          description: Project display name.
        title:
          type: string
          description: Project title.
        summary:
          type: string
          description: One-line project summary.
        description:
          type: string
          description: Full project description.
        homepage_url:
          type: string
          format: uri
        programming_language:
          type: string
        web_link:
          type: string
          format: uri
        self_link:
          type: string
          format: uri
    ProjectCollection:
      type: object
      properties:
        total_size:
          type: integer
        start:
          type: integer
        entries:
          type: array
          items:
            $ref: '#/components/schemas/Project'
  securitySchemes:
    OAuth1:
      type: http
      scheme: oauth
      description: OAuth 1.0a authentication with Launchpad credentials
