openapi: 3.2.0
info:
  title: Launchpad REST Packages API
  description: The Launchpad web service API provides REST-based access to Launchpad's resources including people, projects, bugs, branches, and packages. The canonical source for the full API is the WADL document at api.launchpad.net.
  version: '1.0'
  contact:
    name: Launchpad Community
    url: https://help.launchpad.net/API
servers:
- url: https://api.launchpad.net/1.0
  description: Launchpad Production API
- url: https://api.staging.launchpad.net/1.0
  description: Launchpad Staging API
security:
- OAuth1: []
tags:
- name: Packages
  description: Distribution package management
paths:
  /ubuntu/+source/{source_package_name}:
    get:
      operationId: getSourcePackage
      summary: Get Source Package
      description: Returns details for a specific Ubuntu source package.
      tags:
      - Packages
      parameters:
      - name: source_package_name
        in: path
        required: true
        schema:
          type: string
        description: Source package name.
      responses:
        '200':
          description: Source package details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourcePackage'
        '404':
          description: Source package not found.
components:
  schemas:
    SourcePackage:
      type: object
      properties:
        name:
          type: string
          description: Source package name.
        title:
          type: string
          description: Package title.
        web_link:
          type: string
          format: uri
        self_link:
          type: string
          format: uri
  securitySchemes:
    OAuth1:
      type: http
      scheme: oauth
      description: OAuth 1.0a authentication with Launchpad credentials
