openapi: 3.0.0
info:
  title: Ubuntu Security CVE Bugs Packages API
  description: The Ubuntu Security CVE API provides programmatic access to Ubuntu's CVE (Common Vulnerabilities and Exposures) database. It enables querying security notices, CVE details, affected packages, and patch status across Ubuntu releases.
  version: 1.0.0
  contact:
    name: Ubuntu Security Team
    url: https://ubuntu.com/security
servers:
- url: https://ubuntu.com/security
  description: Ubuntu Security API
tags:
- name: Packages
  description: Distribution package management
paths:
  /ubuntu/+source/{source_package_name}:
    get:
      operationId: getSourcePackage
      summary: Get Source Package
      description: Returns details for a specific Ubuntu source package.
      tags:
      - Packages
      parameters:
      - name: source_package_name
        in: path
        required: true
        schema:
          type: string
        description: Source package name.
      responses:
        '200':
          description: Source package details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourcePackage'
        '404':
          description: Source package not found.
components:
  schemas:
    SourcePackage:
      type: object
      properties:
        name:
          type: string
          description: Source package name.
        title:
          type: string
          description: Package title.
        web_link:
          type: string
          format: uri
        self_link:
          type: string
          format: uri
