openapi: 3.2.0
info:
  title: Launchpad REST Distributions API
  description: The Launchpad web service API provides REST-based access to Launchpad's resources including people, projects, bugs, branches, and packages. The canonical source for the full API is the WADL document at api.launchpad.net.
  version: '1.0'
  contact:
    name: Launchpad Community
    url: https://help.launchpad.net/API
servers:
- url: https://api.launchpad.net/1.0
  description: Launchpad Production API
- url: https://api.staging.launchpad.net/1.0
  description: Launchpad Staging API
security:
- OAuth1: []
tags:
- name: Distributions
  description: Ubuntu distribution resources
paths:
  /ubuntu:
    get:
      operationId: getUbuntuDistribution
      summary: Get Ubuntu Distribution
      description: Returns information about the Ubuntu distribution in Launchpad.
      tags:
      - Distributions
      responses:
        '200':
          description: Ubuntu distribution details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Distribution'
components:
  schemas:
    Distribution:
      type: object
      properties:
        name:
          type: string
          description: Distribution name.
        display_name:
          type: string
          description: Distribution display name.
        title:
          type: string
        description:
          type: string
        web_link:
          type: string
          format: uri
        self_link:
          type: string
          format: uri
  securitySchemes:
    OAuth1:
      type: http
      scheme: oauth
      description: OAuth 1.0a authentication with Launchpad credentials
