openapi: 3.2.0
info:
  title: Launchpad REST People API
  description: The Launchpad web service API provides REST-based access to Launchpad's resources including people, projects, bugs, branches, and packages. The canonical source for the full API is the WADL document at api.launchpad.net.
  version: '1.0'
  contact:
    name: Launchpad Community
    url: https://help.launchpad.net/API
servers:
- url: https://api.launchpad.net/1.0
  description: Launchpad Production API
- url: https://api.staging.launchpad.net/1.0
  description: Launchpad Staging API
security:
- OAuth1: []
tags:
- name: People
  description: People and team resources
paths:
  /people:
    get:
      operationId: listPeople
      summary: List People
      description: Returns a collection of people and teams registered in Launchpad.
      tags:
      - People
      parameters:
      - name: ws.op
        in: query
        required: false
        schema:
          type: string
        description: Named operation to perform on the collection.
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Search query string for people.
      - name: ws.start
        in: query
        required: false
        schema:
          type: integer
        description: Starting offset for pagination.
      - name: ws.size
        in: query
        required: false
        schema:
          type: integer
        description: Number of items to return.
      responses:
        '200':
          description: Collection of people.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonCollection'
  /~{person_name}:
    get:
      operationId: getPerson
      summary: Get Person
      description: Returns information about a specific Launchpad person or team.
      tags:
      - People
      parameters:
      - name: person_name
        in: path
        required: true
        schema:
          type: string
        description: Launchpad username or team name.
      responses:
        '200':
          description: Person or team details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        '404':
          description: Person not found.
components:
  schemas:
    PersonCollection:
      type: object
      properties:
        total_size:
          type: integer
        start:
          type: integer
        entries:
          type: array
          items:
            $ref: '#/components/schemas/Person'
    Person:
      type: object
      properties:
        name:
          type: string
          description: Launchpad username.
        display_name:
          type: string
          description: Display name.
        email_addresses_collection_link:
          type: string
          format: uri
          description: Link to the person's email addresses.
        bugs_reported_collection_link:
          type: string
          format: uri
        teams_participated_in_collection_link:
          type: string
          format: uri
        web_link:
          type: string
          format: uri
        self_link:
          type: string
          format: uri
  securitySchemes:
    OAuth1:
      type: http
      scheme: oauth
      description: OAuth 1.0a authentication with Launchpad credentials
