openapi: 3.2.0
info:
  title: Snap Store Devices Refresh API
  description: The Snap Store Devices API provides access to the Canonical Snap Store for querying, discovering, and managing snap packages. Supports snap search, info retrieval, refresh operations, category listings, and metrics for IoT and desktop deployments.
  version: '104'
  contact:
    name: Snapcraft Community
    url: https://forum.snapcraft.io
servers:
- url: https://api.snapcraft.io
  description: Snap Store Production API
tags:
- name: Refresh
  description: Snap update and refresh operations
paths:
  /v2/snaps/refresh:
    post:
      operationId: refreshSnaps
      summary: Refresh Snaps
      description: Check for and retrieve updates for installed snaps.
      tags:
      - Refresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: array
                  items:
                    type: object
                    properties:
                      snap-id:
                        type: string
                      channel:
                        type: string
                      revision:
                        type: integer
                      tracking-channel:
                        type: string
                actions:
                  type: array
                  items:
                    type: object
                    properties:
                      action:
                        type: string
                        enum:
                        - refresh
                        - install
                        - download
                      snap-id:
                        type: string
                      name:
                        type: string
                      channel:
                        type: string
      responses:
        '200':
          description: Refresh results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
