openapi: 3.0.0
info:
  title: Ubuntu Security CVE Bugs Categories API
  description: The Ubuntu Security CVE API provides programmatic access to Ubuntu's CVE (Common Vulnerabilities and Exposures) database. It enables querying security notices, CVE details, affected packages, and patch status across Ubuntu releases.
  version: 1.0.0
  contact:
    name: Ubuntu Security Team
    url: https://ubuntu.com/security
servers:
- url: https://ubuntu.com/security
  description: Ubuntu Security API
tags:
- name: Categories
  description: Snap category listings
paths:
  /v2/snaps/categories:
    get:
      operationId: listSnapCategories
      summary: List Snap Categories
      description: Returns all available snap categories in the store.
      tags:
      - Categories
      parameters:
      - name: Snap-Device-Series
        in: header
        required: true
        schema:
          type: string
          default: '16'
        description: Snap device series identifier.
      responses:
        '200':
          description: List of snap categories.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
components:
  schemas:
    Category:
      type: object
      properties:
        name:
          type: string
          description: Category identifier.
        title:
          type: string
          description: Display name of the category.
